@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.fourGearPickUp {
  width: 100vw;
  max-width: 100%;
  /* height: 93.194vh; */
  height: auto;
  padding:5rem 0;
  background-color: #eeeeee;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourGearPickUpContainer {
  width: 72vw;
  /* height: 54.1vh; */
  height:auto;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.fourGearPickUpContainer h2 {
  font-weight: 1000;
  font-size: 1.71vw;
  line-height:2vw;
  font-family: "Poppins", sans-serif;
}
.fourGearPickUpContainer img{
    max-width: 62.71vw;
    height:100%;
    padding-bottom: 3rem;
}
.colchange {
  color: #b65e0c;
  font-weight: 1000;
  font-size: 1.71vw;
  line-height: 2vw;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width:515px) {
  .fourGearPickUpContainer img{
    max-width:30rem;
    height:15rem;
    padding-bottom:2rem;
  }
  .fourGearPickUpContainer h2{
    font-size:1.3rem;
    line-height: 1.5rem;
  }
  .colchange{
    font-size:1.3rem;
    line-height: 1.5rem;
  }
}
