@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.fourGearProfile {
  width: 100vw;
  max-width: 100%;
  height:100%;
  background-color: #eeeeee;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fourGearProfile h1 {
  font-weight: 700;
  font-size: 2.5vw;
  line-height: 2vw;
  color: #b65e0c;
  margin:3rem 0;
}
.fourGearProfileContainer {
  width: 79.51vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 0;
}
.fourGearProfileDetails {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fourGearProfileIcon {
  width: 8vw;
  height: 8vw;
  background: #ee903a;
  border: 0.6rem solid #eeeeee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 2rem;

}
.fourGearProfileIcon img{
    width:6.25vw;
    height:5.76vw;
}
.fourGearProfileDetailsContainer {
  height: 100%;
  width: 79.51vw;
  margin: 2rem 0;

  /* border: 2px solid red; */
  background-color: #b65e0c;
  /* margin-top: -5rem; */
  border-radius: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 2rem;
  /* flex-direction: column; */
  /* z-index: -1; */
  text-align: center;
}
.fourGearProfileDetailsContainer h2 {
  font-weight: 600;
  font-size: 2.12vw;
  line-height: 1.9vw;
  color: #ffffff;
  padding-bottom: 1rem;
  padding-right:4rem;
}
.fourGearProfileDetailsContainer h4 {
  font-weight: 400;
  font-size: 1.27vw;
  line-height: 1.3vw;
  padding-bottom: 0.5rem;
  padding-right:4rem;
  color: #ffffff;
}
.fourGearServiceDetails {
  width: 79.51vw;
  height:100%;  
  background-color: #ffffff;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 1.45vw;
  
}

.fourGearServiceDetails img{
  width:1.5rem;
  height:1.2rem;
}

.fourGearServiceDetails h2 {
  font-weight: 700;
  font-size: 1.48vw;
  line-height: 1.875vw;
  color: #b65e0c;
  text-align: center;
  margin-top:1.5rem;
  margin-bottom:3rem;
}
.fourGearServiceDetails table{
    width:90%;
    padding-bottom:2rem;
}

.tableSn,.tableDate,.tableDetails,.tableAmount{
    text-align: center;
    padding:0.5rem;
    font-size:1.25vw;
    font-weight:500;
    font-weight:500;
    /* text-align: center; */
    

}
.bold{
    font-weight:700;
    font-size: 1.2vw;
}
@media screen and (max-width:550px) {
  .fourGearProfile{
    /* height:95vh; */
    /* padding:5rem 0; */
  }
  .fourGearProfileContainer{
    margin: unset;
  }
  .fourGearProfileDetailsContainer h2{
    font-size: 1.2rem;
    font-weight: 600;
  }
  .fourGearProfileDetailsContainer h4{
    font-size: 0.8rem;
  }
  .fourGearProfileIcon{
    height: 5rem;
    width: 5rem;
  }
  .fourGearProfileIcon img{
    width: 5rem;
    height: 5rem;
  }
  .fourGearServiceDetails h2{
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  .tableSn,.tableDate,.tableDetails,.tableAmount{
    font-size: 0.8rem;
    font-weight: 600;

  }
  .fourGearServiceDetails img{
    height:0.8rem;
    width:0.8rem;
  }
  
}

@media screen and (max-width:400px) {
  .fourGearServiceDetails{
    width:34rem;
  }
  
  
}